[submodule "mytest"]
	path = mytest
	url = https://github.com/MayavanKrishnanD/Mytest.git
[submodule "Testclass1"]
	path = Testclass1
	url = https://github.com/MayavanKrishnanD/Testclass.git
[submodule "Test1"]
	path = Test1
	url = https://github.com/MayavanKrishnanD/Test.git
